<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form action="{{url_for('book_save', book_id=book.id)}}" method="post">
    <input value="{{ book.author}}" type="text" placeholder="author" name='author' required>
    <input value="{{book.title}}" type="text"  placeholder="title" name='title' required>
    <input value="{{book.tag}}" type="text"  placeholder="tag" name='tag' required>
    <button>Save</button>
</form>

</body>
</html>